:root {
  --fade-time: 0.4s;
  --square-size: 2.5rem;
}

/* .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */
.dropbtn.ui-row {
  background-color: #F8F8F8;
  border: 1px solid #444;
  margin-bottom: 0.25rem;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #EFEFEF;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > div {
  color: black;
  /* padding: 0.5rem 1rem; */
  text-decoration: none;
  display: block;
}

.dropdown div.item {
  display: flex;
  align-items: center;
  height: var(--square-size);
}

.dropdown div.item div {
  cursor: pointer;
}

.dropdown div.item .remove {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  height: var(--square-size);
  width: var(--square-size);
  transition: background-color var(--fade-time);
}

.dropdown div.item .load-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: var(--square-size);
  transition: background-color var(--fade-time);
}

div.active .load-btn {
  background-color: #bac2c6;
}

div.active .remove {
  background-color: #c4cbcf;
}

div.item:not(.active) .load-btn:hover,
div.item .remove:hover {
  background-color: #f0ccff;
}

.show {
  display: block;
}

label {
  margin: 0 0.5rem 0 0.25rem;
}